@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway:700");
@import url("https://fonts.googleapis.com/css?family=Lato:300");
@import url("https://fonts.googleapis.com/css?family=Poppins");

body,
html,
div,
section,
nav {
  font-family: "Lato", sans-serif;
  /*background-color: #5cdb95 !important;*/
}

.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#main-body {
  background-color: #ffffff;
  background-image: url("https://imgur.com/Q1F9Eik.png") !important;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #333333 !important;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #333333 !important;
}

.logo {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #fd4445;
}

a.button:hover,
a.button:focus {
  color: #ffffff !important;
  background-color: #fd4445 !important;
}

.navbar .navbar-menu a.button.is-primary.is-outlined {
  border-width: 2px;
  border-color: #fd4445;
  font-weight: 400;
  font-size: 18px;
  padding: -0.2rem;
  color: #fd4445;
}

@media only screen and (max-width: 600px) {
  a.button {
    display: block !important;
  }
  .navbar-end {
    margin-top: -65px !important;
  }
  .intro-cont {
    width: 100% !important;
  }
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    box-shadow: none;
    padding: 0.5rem 0;
  }
  .navbar-end {
    margin-top: -65px !important;
  }
}

.navbar,
.navbar-menu,
.navbar-start {
  align-items: stretch;
  display: flex;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  align-items: stretch;
  display: flex;
}

.navbar-item.logo:hover {
  color: #fd4445;
}

.control {
  font-size: 1rem;
  position: relative;
  text-align: left;
}

.section.is-primary {
  background-color: #fd4445;
  background-image: url("https://imgur.com/tLo6yUt.png");
  padding: 5rem 1.5rem;
  height: 700px;
  width: 100%;
}

.introduction > h1,
.introduction > h2 {
  color: #ffffff !important;
}

.intro-cont {
  margin-top: -48px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Lato", sans-serif;
  font-weight: 600 !important;
}

.me {
  border: 6px solid #ffffff;
  border-radius: 4px;
  width: 150px;
}

.skill-image {
  margin: 0 auto 2em;
  position: relative;
  display: block;
  text-align: center;
}

.highlight {
  color: #fd4445;
}

p.list-title {
  margin-top: 40px;
  margin-bottom: 0px !important;
}

.content ul {
  margin-top: 0px;
}

.desg-card {
  background-color: #ffffff;
  background-image: url("https://imgur.com/vzAGLGy.png");
}

.dev-card {
  background-color: #ffffff;
  background-image: url("https://imgur.com/nRl8acy.png");
}

.elec-card {
  background-color: #ffffff;
  background-image: url("https://imgur.com/Vf1NIyL.png");
}

.section.skills {
  margin-top: -13rem;
  padding-bottom: 1rem;
}

.tiles {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.tile.is-child {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
}

.tile.is-child:hover {
  transform: scale(1.04);
  -webkit-box-shadow: 10px 10px 122px -37px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 122px -37px rgba(0, 0, 0, 0.59);
  box-shadow: 10px 10px 122px -37px rgba(0, 0, 0, 0.59);
}

.project.exoplanet {
  background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.5),
      rgba(220, 66, 37, 0.8)
    ),
    url("https://imgur.com/KdSqZ7y.gif") no-repeat;
  background-size: cover;
}

.project.talknow {
  background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.5),
      rgba(99, 162, 152, 0.8)
    ),
    url("https://imgur.com/j54Ueog.gif");
  background-size: cover;
}

.project.igniculus {
  background: linear-gradient(
      to bottom,
      rgba(0, 47, 75, 0.5),
      rgba(216, 110, 31, 0.8)
    ),
    url("https://imgur.com/FWXgi3r.gif");
  background-size: cover;
}

.project.games {
  background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.5),
      rgba(0, 219, 222, 0.8)
    ),
    url("https://imgur.com/lwWLgsW.gif");
  background-size: cover;
}

.project.more {
  background: linear-gradient(
      to bottom right,
      rgba(0, 47, 75, 0.5),
      rgba(0, 219, 222, 0.8)
    ),
    url("https://imgur.com/5luwvnu.gif");
  background-size: cover;
}

.project {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background: #74ebd5;
  background: -webkit-linear-gradient(90deg, #acb6e5, #74ebd5);
  background: linear-gradient(10deg, #acb6e5, #74ebd5);
}

.project-title {
  font-size: 50px !important;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

.project-desc {
  color: white !important;
  font-size: 22px !important;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .project-title {
    font-size: 25px !important;
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
  }

  .project-desc {
    color: white !important;
    font-size: 15px !important;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  .section.skills {
    margin-top: -7rem;
    padding-bottom: 1rem;
  }
  .section.is-primary {
    background-color: #fd4445;
    background-image: url("https://imgur.com/tLo6yUt.png");
    padding: 5rem 1.5rem;
    height: 800px;
    width: 100%;
  }
}

.project-logo {
  margin: auto;
}

.slideshow {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.slideshow li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.slideshow li:first-child {
  position: relative;
  display: block;
  float: left;
}

.slideshow span {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_tabs > li {
  padding: 10px;
}

.rslides_tabs > li > a {
  text-decoration: none;
  color: #333333;
  font-size: 40px;
}

.rslides_here > a {
  color: #fd4445 !important;
}

.testimonial {
  margin-top: -200px;
}

@media only screen and (max-width: 600px) {
  .testimonial {
    margin-top: -15px;
  }
}

.slide {
  position: relative;
  font-family: "Poppins", serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.slide footer {
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  color: #333333;
  opacity: 0.5;
}
.slide footer:before {
  content: "\2015";
}

.level-item > .title {
  font-family: "Raleway", sans-serif !important;
  font-size: 45px;
}

.level-item > .subtitle {
  font-family: "Lato", sans-serif !important;
  font-weight: 300;
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .level-item > .title {
    font-family: "Raleway", sans-serif !important;
    font-size: 25px;
    margin-top: -10px;
  }

  .level-item > .subtitle {
    margin-top: -20px;
    font-family: "Lato", sans-serif !important;
    font-weight: 300;
    font-size: 15px;
  }
}

.bottom-text {
  height: 400px !important;
  border-radius: 0 !important;
}

.bottom-box {
  -webkit-box-shadow: 0px 0px 42px 5px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 42px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 42px 5px rgba(0, 0, 0, 0.09);
  height: 120px;
}

.bottom-box > * {
  margin: auto;
}

.with-bg {
  background: #ffffff;
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 45px;
  /*-webkit-box-shadow: 0px 0px 42px 5px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 42px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 42px 5px rgba(0, 0, 0, 0.09);*/
}

.with-bg > .logo {
  text-align: center !important;
  vertical-align: middle !important;
  line-height: 90px;
}

.bottom-text > .container > .subtitle {
  padding-top: 20px;
  color: #fec2c2 !important;
  font-family: "Raleway", sans-serif;
}

.social {
  font-size: 30px;
  position: relative;
}

.social-icons {
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  z-index: -1;
  color: #ffffff;
  transition: all 0.5s;
}
